// Header Page

@import "../variable/variable";
header .header-background{
    background-color: $primary-color;
    width: 100%;
    height: 20vh;
// Main Header
    .container-background  {
        .main-header {
            .row {

                a{
                    text-decoration: none;
                    color: #fff;
                    width: 100%;
                }

                a:hover {
                    color:coral;
                }
                .img {
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .text-style {
                    color: #fff;
                    font-size: 26px;
                }

                .live-video {
                    i{
                        color: red;
                    }
                }

                .search {

                    .background-color {
                        background-color: #fff !important;
                        height: 100%;
                    }

                    i {
                        background-color: #fff !important;
                        height: max-content;
                    }
                }

                .log-in { }
                
            }

        }
// Secondary Header
        #secondary-header {
            font-size: 16px;
            a {
                color: #fff;
                text-decoration: none;
            }
        }
    }
}
// Horizontal Line
    hr {
        color: #fff;
        background-color: #fff;
    }

// Main
html {
    scroll-behavior: smooth;
}
body {
    background: #f3f3f3;
}
// Side Bar for Social Media
.side-social{
    position: fixed;
    top: 200px;
    left:1420px;
    text-align: center;
    z-index: 2;
    li {
        list-style: none;
        padding: 10px 0;
        text-align: center;
        width: 30px;
        background: $primary-color;
    }
    li:nth-child(1) {
        border-top-left-radius: 5px ;
        border-top-right-radius: 5px ;
    }
    li:nth-child(5) {
        border-bottom-left-radius: 5px ;
        border-bottom-right-radius: 5px ;
    }
    a{
        text-decoration: none;
        color: #fff;
        
    }

    a:hover {
        opacity: 0.9;
    }
}
// Arrow-Up
.arrow {
    position: fixed;
    bottom:54px;
    right: 20px;
    color: #f3f3f3;
    font-size: 20px;
}
// Section Cross Fast
#cross-fast {
    a{
        text-decoration: none;
        color: rgb(22, 126, 167);
    }
    .cross-fast-height {
        height: 10vh;
    }
    .background-color {
        background: rgb(168, 230, 255);
        border-radius: 5px;
    }
    .col-private{
        width: 11%;
    }
    .temprature {
        background-color: rgb(0, 97, 136);
        border-radius: 5px ;
        color: #fff;
    }
}


// Cards & Side-Bar
#cards {
    height: 60vh;
// Card 1

    img {
        border-radius: 10px;
    }
    .card-background-1 {
        height: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
        border: none;
        img {
            height: 100%;
           }
    }
    
    .button-1 {
        background: $primary-color;
        border:none;
        padding:5px 40px;
        margin-bottom: 20px;
    }

// Card 2
    .card-background-2 {
        height: 48%;
        margin-bottom: 5%;
        border: none !important;
        img{
           height: 100%;
           opacity: 0.4;
           border: none !important;
        }

// Texts
        .text {
            margin-top: -15px;
            p{
                line-height: 1.2;
            }
            h5{
                line-height: 1.4;
                font-size: 28px;
            }
        }
    }

// Card 3
    .card-background-3 {
        height: 48%;
        border: none;
        img{
            height: 100%;
            opacity: 0.4;
        }
// Texts
        .text {
            margin-top: -15px;
            p{
                line-height: 1.2;
            }
            h5{
                line-height: 1.4;
                font-size: 28px;
            }
        }
    }
    .side-bar {
        height: 52vh;
        overflow-y: auto;
        border: 1px solid $primary-color;
        border-radius: 5px;
        color: $primary-color;
        // scroller
        
        

        .overflow-auto {
        };
        h1{
            color: rgb(0, 138, 192);
        }
        .content-text {
            overflow-x: hidden;
            margin: 5px 0px;
            border:$primary-color 1px solid;
            border-radius: 10px;
        }
    }


}

// Call
#call {
    font-size: 18px;
    font-weight: bold;
    p{
        margin-top: -60px;
    }
  }

// News & Advertisment
#news-advertisment {
    height: 40vh;
    a {
        text-decoration: none;
    }

    .suggestions-scroll {
        height: 20%;
    }

    .news-advs {
        height: 80%;
    }
    

    .border-style {
        border:none;
    }

    .advertisment {
        img {
            height: 16rem;
        }
    }
}

// Chanel
#chanel {
    height: 70vh;
    color: rgb(0, 69, 97);
// Main-chanel
    .chanel-tv {
        height: 50vh;
        position: relative;
        background-color: #333;
        border-radius: 10px;
        img {
            position: absolute;
            top:0;
            left:0;
            z-index: 0;
            height: 100%;
            width: 100%;
            border-radius: 10px;
            opacity: 0.2;
        }
        .icon {
            position: absolute;
            top:50%;
            left:50%;
            color: #fff;
            z-index: 1;
            a{
                text-decoration: none;
                color: #fff;
            }
            a:hover {
                opacity: 0.9;
            }
        }
    }
// Secondary Chanel
    .mednews {
        margin-right: 40px;
    }

    .btn-color {
        background: #fff;
        color: $primary-color;
        padding-left: 10px 20px;
        width:30%;
        height: 6vh;
        font-weight: bold;
        border: $primary-color 1px solid;
    }

    .white-board {
        margin-top: 20px;
        height: 42vh;
        border-radius: 10px;
        background-color: #fff;
    }
}

// Archive
#archive {
    height: 70vh;
    .col-custom {
        width: 15.6%;
        padding: 20px 10px;
        border-radius: 10px;
        background: $primary-color;
        border:none;
    }
}
    

// Footer
footer{
    .footer-background {
        height: 20vh;
    }
    li {
        margin-left: -30px;
        padding: 10px 0;
        list-style: none;
    }
    a{
        text-decoration: none;
        color: #fff;
    }
    .footer-background {
        height: 60vh;
        background: $primary-color;
        .col-custom{
            width: 22%;
            color: #fff;
        }
// Email Box
    .mail-box {
        .mail{
            border: none;
            background: $primary-color;
            border-bottom: 1px solid rgb(97, 97, 97);
            border-radius: 0;
            padding-bottom: 20px;
    
        }
        .background-mail {
            height: 100%;
            background-color: #fff;
            border-top-left-radius:10px;
            border-top-right-radius:10px;
            color: $primary-color;
            cursor: pointer;
            i {
                height: max-content;
            }
        }
        .background-mail:hover {
            opacity: 0.9;;
        }

    }    
    }
// Icons
    .social-icons {
        a {
            margin-top: 20px;
            display: inline-block;
            padding-right: 20px;
        }
    }
}
